html
  head
    meta(charset="UTF-8")
    title #{title}
    link(rel="shortcut icon", href="/images/icon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/ajax.js")
  body !{body}
