@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
* {
    margin: 0;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #ECECEC;
}

#header a {
	color: #FFFFFF;
	text-decoration: none;
}
#header {
    display: block;
    background: #27aa00;
    padding: 5px 20px 0px;
    color: #FFFFFF;
    border-style: none none solid none;
    border-color: #169900;
    border-bottom-width: 8px;
}
#page {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    min-height: 400px;
    padding: 20px;
}
#footer{
    text-align: center;
    margin:10px;
}
#head-wrap{
    max-width: 1000px;
    margin: auto;
}
h3 a {
    color: #009900;
    text-decoration: none;
}
.itemtext {
    margin: 20px 0 80px 0px;
}
